<footer>
  <div class="navbar navbar-inverse"> 
    <div class="container">
      <ul class="navbar navbar-nav footerlinks">
        <li><a>about us</a></li>
        <li><a>tour</a></li>
        <li><a>help</a></li>
        <li><a>blog</a></li>
      </ul>
    </div>
  </div>
</footer>