<div id="header">
  <div id="logo">
    <a href="/questions">
      <img src="so-icon.png" style="width:50px;height:50px;">stack<span class="bold">overflow</span>
    </a>
  </div>

  <div class="nav mainnavs">
    <ul class="nav-buttons">
      <li class="active"><a href="/questions/new">Questions</a></li>
      <li><a href="/questions/new">Jobs</a></li>
      <li><a href="/questions/new">Users</a></li>
      <li><a href="/questions/new">Ask Question</a></li>
    </ul>
  </div>
</div>