<div id="header">
  <div id="logo">
    <a class="light" href="/questions">
      <img src="/so-icon.png" width="80" height="80">hack<span class="bold">overflow</span>
    </a>
    <div class="nav mainnavs pull-right">
      <ul class="nav-buttons">
        <li class="active"><a href="/questions">Questions</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/questions/new">Ask Question</a></li>
      </ul>
    </div>
  </div>
</div>