<div id="header">
  <div id="logo">
    <a href="/questions">
      <img src="/so-icon.png" width="50" height="50">stack<span class="bold">overflow</span>
    </a>
  </div>

  <div class="nav mainnavs">
    <ul class="nav-buttons">
      <li class="active"><a href="/questions">Questions</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/questions/new">Ask Question</a></li>
    </ul>
  </div>
</div>