<div class='container'>
  <h1>Edit Profile</h1>
  <form action=<%= "/users/#{@user.id}" %> method='POST'>
    <input type="hidden" name="_method" value="put">
    Username:<input type='text' name='username' value=<%= "#{@user.username}" %>>
    Email:<input type='text' name='email' value=<%= "#{@user.email}" %>>
    Password:<input type='password' name='password'>
    <input type='submit' value='Submit'>
  </form>
</div>