<div class='container'>
  <h2><%= "Hi, #{current_user.username}" %></h2>
  <a href='/questions'>Home</a>
  
  <p>
    <%= @user.questions %><br>
    <%= @user.answers %>
  </p>

  <!-- <form action='/sessions' method='POST'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out'>
  </form> --> 
</div>